# Android
platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/
platforms/android/res/xml/config.xml

# iOS
platforms/ios/build/
platforms/ios/CordovaLib/build/
platforms/ios/www
platforms/ios/MyPace/config.xml
platforms/ios/.staging

# Emulator logs
platforms/ios/cordova/console.log

# IntelliJ IDEA files
*.iml
.idea

#windows
Thumbs.db
Desktop.ini

node_modules/
platforms/


*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt

keystore/
tools/scaffold/tmp/
tools/build/target
tools/build/tmp/

www/index.json
www/apps
tools/build/config.xml
config.xml

!.gitkeep
www.tar.gz

