body {
    background: #444;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#stage {
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
			

.btn3 button {
  font-size: 30px;
  font-weight: bold;
  background-color: lightgreen;  
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn4 button {
  font-size: 30px;
  font-weight: bold;
  background-color: crimson;  
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#paper {
    position: relative;
}
.click-to-continue {
    position: absolute;
    bottom: 20px;
    width: 440px;
    text-align: center;
    font-size: 20px;
}
#result-wrap {
    position: absolute;
    left: 0;
    top: 0;
    margin: 250px;
    padding: 30px;
    background-color: #aaa;
    width: 440px;
    height: 440px;
    color: black;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;       
    opacity: 0.9;                 
}
#gamebox-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#gamebox-overlay-background {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
}
.game-title {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.abort-btn button {
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;                        
    background-color: "lightred";
    font-size: 30px;
}
#info, #form-wrapper {
    padding-left: 20px;
}
#info .imager img {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
}
#info .title {
    font-size: 36px;
    font-weight: bold;
}
#info .description {
    margin-left: 330px;
    width: 630px;
    position: absolute;
    font-size: 24px;
}
#info .instructions-title {
    font-size: 24px;
}
#info .instructions {
    font-size: 20px;
}
#form-wrapper .controls button, #info .controls button {
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;                        
    margin-right: 10px;        
    background-color: #ccc;
}
#form-wrapper .controls button:hover, #info .controls button:hover {
    background-color: #aaa;
}
#form-wrapper .controls, #info .controls {
    margin: 50px 20px 20px 20px;
}

#settings-form-outer {
    z-index: 9000;
    display: block;
    position: absolute;
    left: 0;
    top: 15%;
    height: 65%;
    width: 100%;
    display: none;
}

#settings-form {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #def;
    border-radius: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#stage {
    /* position: relative;  */
    position: fixed;
    left: 0px;
    top: 0px;
}

:focus {outline:none;} ::-moz-focus-inner {border:0;}
.kind0 button {
    font-size: 40px;
    font-family: Verdana;
}
.kind1 button {
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana;
}
.kind2 button {
    font-size: 40px;
    font-weight: bold;
    font-family: Lucida;
}

.svgbutton {
    pointer-events: visible;
}